[Unit]
After=asterisk.service
After=httpd.service
After=memcached.service
After=named.service
After=php-fpm.service
After=rc-local.service
After=basic.target
After=network.target
After=nfs-client.target
After=remote-fs.target
Description=/etc/snmp/setup-snmpd install
IgnoreOnIsolate=yes

[Service]
ExecStart=/etc/snmp/setup-snmpd install
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
