#Backup_Dir=/tmp # default is /var/tmp
#Hostname=atl-host # default is /bin/hostname
#Snmpd_Conf=/etc/snmp/snmpd.conf # default is /etc/snmp/snmpd.conf
#Package_Installer=yum # default is automatic
#Package_Installer_Args_Info="info" # default is automatic
#Package_Installer_Args_Install="-y install" # default is automatic
#Package_Installer_Args_Installed="list install" # default is automatic
#Optional_Package=perl # default is none
#Optional_Packages=(net-snmp-devel) # default is automatic
#Required_Package=bash # default is none
#Required_Packages=(net-snmp) # default is automatic
#Required_Packages=("none") # do not install any required packages
#LibreNMS_Setup_Extend=/etc/snmp/librenms/librenms-setup-extend.sh # default is $(dirname)/librenms/librenms-setup-extend.sh
#Snmpd_Conf_URL="https://librenms.example.com/snmpd.conf/?hostname=${Hostname}" # default is none
#Get_URL="wget" # default is automatic
#Get_URL_Args="-q -O" # the output arg must be last # default is automatic
#Get_URL="curl" # default is automatic
#Get_URL_Args="--silent --fail -o" # default is automatic
#Setup_Snmpd_D=1 # default is 0; anything other than 0 will disable executing setup-snmpd.d files
