# NOTE: extend-bind.pl requires 'perl-File-ReadBackwards'

# rndc = The path to rndc. Default: /usr/bin/env rndc
# call_rndc = A 0/1 boolean on weather to call rndc stats. Suggest to set to 0 if using netdata. Default: 1
# stats_file = The path to the named stats file. Default: /var/run/named/stats
# agent = A 0/1 boolean for if this is being used as a LibreNMS agent or not. Default: 0
# zero_stats = A 0/1 boolean for if the stats file should be zeroed first. Default: 0 (1 if guessed)

stats_file=/var/log/dns/named_stats.txt
